@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
}
/* form */
form {
  margin: 20% auto;
  border: 2px grey;
  width: 80%;
  height: 50%;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */

  /* color: aliceblue; */
}
.social {
  width: 50%;
  display: block;
  align-items: center;
  justify-content: center;
  /* border: 2px red dashed; */
  padding: 2vh;
  align-items: center;
}

.login {
  width: 50%;
  display: block;
  align-items: center;
  justify-content: center;
  /* border: 2px red dashed; */
  padding: 2vh;
  text-align: center;
}
.middle {
  width: 50%;
  height: 50%;
  border: none;
  text-align: center;
}
input {
  margin: 2vw auto;
  display: block;
  width: 30%;
  border: none;
  border-bottom: 2px grey;
  background-color: rgb(182, 212, 203);
  text-align: center;
}
button {
  width: 10rem;
  border: none;
  color: aliceblue;
  padding: 1vh;
}
.button__f {
  background-color: rgb(30, 186, 238);
}
.button__g {
  background-color: rgb(240, 10, 10);
}
.button__t {
  background-color: rgb(5, 224, 224);
}
.button__l {
  background-color: rgb(2, 124, 165);
  border-radius: 0.3rem;
  width: 4rem;
  height: auto;
}
