@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
}
/* form */
form {
  margin: 20% auto;
  border: 2px grey;
  width: 80%;
  height: 50%;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px red dashed;
}
