@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}
.pagestyle {
  display: flex;
  background-color: rgb(250, 250, 250);
  border: 1px rgba(199, 199, 199, 0.8) solid;
  text-align: center;
  align-content: center;
  align-items: center;
}
.input_content {
  display: flex;
  align-items: center;
  min-height: 300px;
}
.content__bottom {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: #7c8286;
  border-top: solid rgba(199, 199, 199, 0.8) 1px;
}
/* form */
/* form {
  margin: 10% auto;
  border: 2px grey;
  width: 80%;
  height: 50%;
}
.social {
  height: 85%;
  display: block;
  align-items: center;
  justify-content: center;
  border: 2px red dashed;
  padding: 2vh;
  align-items: center;
} */

/* .login {
  height: 85%;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  text-align: center;
}
.middle {
  height: 85%;
  border: none;
  text-align: center;
}
.register {
  margin: auto;
  height: 15%;
  border: 2px grey solid;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  color: rgb(30, 186, 238);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input {
  margin: 2vw auto;
  display: block;
  width: 30%;
  border: none;
  border-bottom: 2px grey;

  text-align: center;
}
button {
  width: 8rem;
  height: 2rem;
  border: none;
  color: aliceblue;
  padding: 1vh;
  margin: 5%;
}
.button__f {
  background-color: rgb(30, 186, 238);
}
.button__g {
  background-color: rgb(240, 10, 10);
}
.button__t {
  background-color: rgb(5, 224, 224);
}
.button__l {
  background-color: rgb(2, 124, 165);
  border-radius: 0.3rem;
  width: 4rem;
  height: auto;
} */
